.marketLandingButton{
display: inline-block;
outline: 0;
text-align: center;
cursor: pointer;
padding: 17px 30px;
border: 0;
color: #fff;
font-size: 17.5px;
border: 2px solid transparent;
border-color: #000;
color: #000;
background: transparent;
font-weight: 800;
transition: background-color .1s ease-in-out;
}
.marketLandingButton:hover {
background-color: #000;
color: #d2b356;
}
