.footerHolder{
    width: 100%;
    background-color: #f5f5f5;
}

.footerHolder p{
    color: grey;
    font-weight: 100;
    font-style: italic;
}

.footerMiddle{
    margin: 0px auto;
    max-width: 1400px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 150px;
}

.socialMediaFooter{
    display: flex;
    max-width: 200px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    filter: invert(0.5);
}

@media screen and (max-width: 600px){
    .footerMiddle{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 25px auto;
        padding-top: 0;
    }
}
