.oneCustomerHolder{
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oneCustomerHolder img{
    max-width: 130px;
    width: 100%;
    border-radius: 50%;
    filter:grayscale(1)
}

.customerReview{
    display: flex;
    max-width: 300px;
    width: 100%;
    text-align: center;
}

.reviewerName{
    color: black!important;
    font-weight: 600!important;
    font-size: 15px!important;
}

@media screen and (max-width: 950px) {
    .customerSayingBottom{
        max-width: 600px;
        width: 95%;
    }
    .oneCustomerHolder img{
        max-width: 150px;
        width: 100%;
    }
    .customerReview{
        max-width: 600px;
        width: 100%;
    }
    .reviewerName{
        margin-top: 0;
    }
}