.imageGalleryHolder{
    width: 100%;
    margin: 0px auto;
    border-top: 3px solid #D2B356;
    padding: 50px 0;
}

.imageGalleryMiddle{
    max-width: 1400px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
 .imageGalleryHolder{
    padding: 0px;
 }
 .imageGalleryHolder{
    border-bottom: 3px solid #D2B356;
 }   
}


